.NavBar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
}

.Logo {
  opacity: 1;
  outline: 0;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

@media (max-width: 1085px) {
  .Logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .ml-auto {
    display: none;
  }

  .NavBar-Btn {
    margin-bottom: 8px;
    border-bottom: 1px solid #595377;
  }

  .burgerSearchBtn::before {
    position: relative;
    color: black;
    opacity: 1;
    content: "Поиск ";
  }

  .burgerLikedBtn::before {
    position: relative;
    color: black;
    opacity: 1;
    content: "Избранное ";
  }
}

.Logo:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.Logo:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.Logo::before {
  top: 0;
  left: 0;
  opacity: 1;
  height: 44px;
  width: 17rem;
  font-size: 20px;
  color: #595377;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.7s;
  position: relative;
  background: #5953770c;
  content: attr(logostyle);
  transform: translateY(0) rotateX(0);
  border-radius: 6px;
  text-shadow: 0 1px 3px #595377;
  box-shadow: 0 2px 3px #59537767;
}

.Logo::after {
  top: 0;
  left: 0;
  opacity: 0;
  height: 44px;
  width: 17rem;
  font-size: 20px;
  color: #67ff99;
  display: block;
  transition: 0.7s;
  position: absolute;
  background: #59537749;
  content: attr(logostyle);
  transform: translateY(-50%) rotateX(90deg);
  border-radius: 6px;
  text-shadow: 0 2px 4px #595377;
  box-shadow: 0 3px 7px #59537767;
}

/* burgerModal */

.burgerModalBtn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  opacity: 1;
  outline: 0;
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
}

.offcanvas-header {
  justify-content: center;
}

.burgerModalImg {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 1085px) {
  .burgerModalBtn {
    display: none;
  }
}

@media (max-width: 1085px) {
  .Logo::before {
    top: 0px;
    left: 160px;
    opacity: 1;
    height: 3rem;
    width: 15rem;
    font-size: 18px;
    color: #595377;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.7s;
    position: relative;
    background: #5953770c;
    content: attr(logostyle);
    transform: translateY(0) rotateX(0);
    border-radius: 6px;
    text-shadow: 0 1px 3px #595377;
    box-shadow: 0 2px 3px #59537767;
  }

  .Logo::after {
    top: 0px;
    left: -80px;
    opacity: 0;
    height: 3rem;
    font-size: 18px;
    width: 15rem;
    color: #67ff99;
    display: block;
    transition: 0.7s;
    position: relative;
    background: #59537749;
    content: attr(logostyle);
    transform: translateY(-50%) rotateX(90deg);
    border-radius: 6px;
    text-shadow: 0 2px 4px #595377;
    box-shadow: 0 3px 7px #59537767;
  }
}
